<div class="container">
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6 col-sm-12">
            <h2>Registration Form</h2>
            <div class="div">
                <div class="bg">
                    <div class="form-div">
                        <form action="">
                            <label for="">Name:</label>
                            <input type="text" class="form-control" [(ngModel)]="name" name="name">
                            <label for="">Email:</label>
                            <input type="email" class="form-control" [(ngModel)]="email" name="email">
                            <label for="">Phone:</label>
                            <input type="tel" class="form-control" [(ngModel)]="phone" name="phone">
                            <button class="btn btn-primary" type="submit" (click)="postUser()">Submit</button>                            
                            </form>

                            <div>


                    </div>

                </div>
                
            </div>
        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
